.header
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.header .mainTitle
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header .descTitle
{
    margin-bottom: 15px;
}

.form
{
    display: flex;
    background-color: #ebf3f5;
    border-radius: 12px;
    width: 100%;
}

.inputText
{
    height: 50px;
    width: 100%;
    background-color: #ebf3f5;
    border-radius: 12px;
    padding-left: 10px;
}

.inputSubmit
{
    height: 50px;
    width: 50px;
    background: url("../images/search-icon.svg") no-repeat 15px 15px;
    border-radius: 12px;
    padding-right: 10px;
}

.listPokemon
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.listPokemon h2
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.listPokemon .pokemonCard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 220px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.listPokemon .pokemonCard .spritePokemonCard
{
    width: 80%;
}

.paging
{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
}

.paging form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paging form select
{
    /* background-color: #2e3056;
    color: #f5fbfb;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px; */
    border-radius: 4px;
    border: 1px solid #2e3056;
    width: 80px;
    height: 30px;
}

.paging form input
{
    background-color: #2e3056;
    color: #f5fbfb;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 60px;
    height: 40px;
}

.previousIcon img
{
    width: 20px;
    height: auto;
}

.nextIcon img
{
    width: 20px;
    height: auto;
}